Source/Middleware/ProxyServer/Service References/com.scutgame.dir/DirService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dir.scutgame.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dir.scutgame.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dir.scutgame.com/">
      <s:element name="GetOfficialGame">
        <s:complexType />
      </s:element>
      <s:element name="GetOfficialGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOfficialGameResult" type="tns:ArrayOfGameInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGameInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GameInfo" nillable="true" type="tns:GameInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GameInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:MemoryEntity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Multiple" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="GameWord" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AgentsID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRelease" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ReleaseDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="PayStyle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SocketServer" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SocketPort" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MemoryEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityChangeEvent" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityChangeEvent">
        <s:complexContent mixed="false">
          <s:extension base="tns:IItemChangeEvent" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IItemChangeEvent" abstract="true" />
      <s:element name="GetGameObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGameObjResult" type="tns:GameInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGame">
        <s:complexType />
      </s:element>
      <s:element name="GetGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGameResult" type="tns:ArrayOfGameInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGameInfoResult" type="tns:GameInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="gameName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGameResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddGameNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="gameName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="multiple" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="gameWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentsID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isRelease" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="payStyle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SocketServer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SocketPort" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGameNewResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serverUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="intranetAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddServerResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serverUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="intranetAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetServerObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerObjResult" type="tns:ServerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServerInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:MemoryEntity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GameID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServerUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IntranetAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ActiveNum" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TargetServer" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEnable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="EnableDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetServers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isSort" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isEnable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServersResult" type="tns:ArrayOfServerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServerInfo" nillable="true" type="tns:ServerInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServerList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerListResult" type="tns:ArrayOfServerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerSortList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerSortListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerSortListResult" type="tns:ArrayOfServerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveServerResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetActiveNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="activeNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetActiveNumResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReloadServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloadServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReloadServerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGameNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServerEnableDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="enableDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServerEnableDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnableServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isEnable" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableServerResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServerStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serverID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServerStatusResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOfficialGameSoapIn">
    <wsdl:part name="parameters" element="tns:GetOfficialGame" />
  </wsdl:message>
  <wsdl:message name="GetOfficialGameSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfficialGameResponse" />
  </wsdl:message>
  <wsdl:message name="GetGameObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetGameObj" />
  </wsdl:message>
  <wsdl:message name="GetGameObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetGameSoapIn">
    <wsdl:part name="parameters" element="tns:GetGame" />
  </wsdl:message>
  <wsdl:message name="GetGameSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameResponse" />
  </wsdl:message>
  <wsdl:message name="GetGameInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetGameInfo" />
  </wsdl:message>
  <wsdl:message name="GetGameInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapIn">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapOut">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="AddGameNewSoapIn">
    <wsdl:part name="parameters" element="tns:AddGameNew" />
  </wsdl:message>
  <wsdl:message name="AddGameNewSoapOut">
    <wsdl:part name="parameters" element="tns:AddGameNewResponse" />
  </wsdl:message>
  <wsdl:message name="AddServerSoapIn">
    <wsdl:part name="parameters" element="tns:AddServer" />
  </wsdl:message>
  <wsdl:message name="AddServerSoapOut">
    <wsdl:part name="parameters" element="tns:AddServerResponse" />
  </wsdl:message>
  <wsdl:message name="SetServerSoapIn">
    <wsdl:part name="parameters" element="tns:SetServer" />
  </wsdl:message>
  <wsdl:message name="SetServerSoapOut">
    <wsdl:part name="parameters" element="tns:SetServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerObj" />
  </wsdl:message>
  <wsdl:message name="GetServerObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetServersSoapIn">
    <wsdl:part name="parameters" element="tns:GetServers" />
  </wsdl:message>
  <wsdl:message name="GetServersSoapOut">
    <wsdl:part name="parameters" element="tns:GetServersResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerListSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerList" />
  </wsdl:message>
  <wsdl:message name="GetServerListSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerListResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerSortListSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerSortList" />
  </wsdl:message>
  <wsdl:message name="GetServerSortListSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerSortListResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveServerSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveServer" />
  </wsdl:message>
  <wsdl:message name="RemoveServerSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveServerResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGameSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGame" />
  </wsdl:message>
  <wsdl:message name="RemoveGameSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGameResponse" />
  </wsdl:message>
  <wsdl:message name="SetActiveNumSoapIn">
    <wsdl:part name="parameters" element="tns:SetActiveNum" />
  </wsdl:message>
  <wsdl:message name="SetActiveNumSoapOut">
    <wsdl:part name="parameters" element="tns:SetActiveNumResponse" />
  </wsdl:message>
  <wsdl:message name="ReloadServerSoapIn">
    <wsdl:part name="parameters" element="tns:ReloadServer" />
  </wsdl:message>
  <wsdl:message name="ReloadServerSoapOut">
    <wsdl:part name="parameters" element="tns:ReloadServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetGameNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetGameName" />
  </wsdl:message>
  <wsdl:message name="GetGameNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerName" />
  </wsdl:message>
  <wsdl:message name="GetServerNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerNameResponse" />
  </wsdl:message>
  <wsdl:message name="SetServerEnableDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetServerEnableDate" />
  </wsdl:message>
  <wsdl:message name="SetServerEnableDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetServerEnableDateResponse" />
  </wsdl:message>
  <wsdl:message name="EnableServerSoapIn">
    <wsdl:part name="parameters" element="tns:EnableServer" />
  </wsdl:message>
  <wsdl:message name="EnableServerSoapOut">
    <wsdl:part name="parameters" element="tns:EnableServerResponse" />
  </wsdl:message>
  <wsdl:message name="ServerStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ServerStatus" />
  </wsdl:message>
  <wsdl:message name="ServerStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ServerStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="DirServiceSoap">
    <wsdl:operation name="GetOfficialGame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">官方游戏列表</wsdl:documentation>
      <wsdl:input message="tns:GetOfficialGameSoapIn" />
      <wsdl:output message="tns:GetOfficialGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGameObj">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏列表</wsdl:documentation>
      <wsdl:input message="tns:GetGameObjSoapIn" />
      <wsdl:output message="tns:GetGameObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏列表</wsdl:documentation>
      <wsdl:input message="tns:GetGameSoapIn" />
      <wsdl:output message="tns:GetGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGameInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏信息</wsdl:documentation>
      <wsdl:input message="tns:GetGameInfoSoapIn" />
      <wsdl:output message="tns:GetGameInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加游戏</wsdl:documentation>
      <wsdl:input message="tns:AddGameSoapIn" />
      <wsdl:output message="tns:AddGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGameNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加游戏</wsdl:documentation>
      <wsdl:input message="tns:AddGameNewSoapIn" />
      <wsdl:output message="tns:AddGameNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加游戏新服</wsdl:documentation>
      <wsdl:input message="tns:AddServerSoapIn" />
      <wsdl:output message="tns:AddServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置服务器</wsdl:documentation>
      <wsdl:input message="tns:SetServerSoapIn" />
      <wsdl:output message="tns:SetServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerObj">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏服务器列表</wsdl:documentation>
      <wsdl:input message="tns:GetServerObjSoapIn" />
      <wsdl:output message="tns:GetServerObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏服务器列表</wsdl:documentation>
      <wsdl:input message="tns:GetServersSoapIn" />
      <wsdl:output message="tns:GetServersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏服务器列表</wsdl:documentation>
      <wsdl:input message="tns:GetServerListSoapIn" />
      <wsdl:output message="tns:GetServerListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerSortList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏服务器排序列表</wsdl:documentation>
      <wsdl:input message="tns:GetServerSortListSoapIn" />
      <wsdl:output message="tns:GetServerSortListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除游戏服务器</wsdl:documentation>
      <wsdl:input message="tns:RemoveServerSoapIn" />
      <wsdl:output message="tns:RemoveServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGame">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除游戏</wsdl:documentation>
      <wsdl:input message="tns:RemoveGameSoapIn" />
      <wsdl:output message="tns:RemoveGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetActiveNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置服务器活跃值</wsdl:documentation>
      <wsdl:input message="tns:SetActiveNumSoapIn" />
      <wsdl:output message="tns:SetActiveNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReloadServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置服务器刷新</wsdl:documentation>
      <wsdl:input message="tns:ReloadServerSoapIn" />
      <wsdl:output message="tns:ReloadServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGameName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取游戏名称</wsdl:documentation>
      <wsdl:input message="tns:GetGameNameSoapIn" />
      <wsdl:output message="tns:GetGameNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器名称</wsdl:documentation>
      <wsdl:input message="tns:GetServerNameSoapIn" />
      <wsdl:output message="tns:GetServerNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServerEnableDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">游戏服务器开启时间</wsdl:documentation>
      <wsdl:input message="tns:SetServerEnableDateSoapIn" />
      <wsdl:output message="tns:SetServerEnableDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableServer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否启用游戏服务器</wsdl:documentation>
      <wsdl:input message="tns:EnableServerSoapIn" />
      <wsdl:output message="tns:EnableServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">分服状态</wsdl:documentation>
      <wsdl:input message="tns:ServerStatusSoapIn" />
      <wsdl:output message="tns:ServerStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirServiceSoap" type="tns:DirServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOfficialGame">
      <soap:operation soapAction="http://dir.scutgame.com/GetOfficialGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameObj">
      <soap:operation soapAction="http://dir.scutgame.com/GetGameObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap:operation soapAction="http://dir.scutgame.com/GetGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameInfo">
      <soap:operation soapAction="http://dir.scutgame.com/GetGameInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://dir.scutgame.com/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGameNew">
      <soap:operation soapAction="http://dir.scutgame.com/AddGameNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddServer">
      <soap:operation soapAction="http://dir.scutgame.com/AddServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServer">
      <soap:operation soapAction="http://dir.scutgame.com/SetServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerObj">
      <soap:operation soapAction="http://dir.scutgame.com/GetServerObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServers">
      <soap:operation soapAction="http://dir.scutgame.com/GetServers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <soap:operation soapAction="http://dir.scutgame.com/GetServerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerSortList">
      <soap:operation soapAction="http://dir.scutgame.com/GetServerSortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveServer">
      <soap:operation soapAction="http://dir.scutgame.com/RemoveServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGame">
      <soap:operation soapAction="http://dir.scutgame.com/RemoveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetActiveNum">
      <soap:operation soapAction="http://dir.scutgame.com/SetActiveNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadServer">
      <soap:operation soapAction="http://dir.scutgame.com/ReloadServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameName">
      <soap:operation soapAction="http://dir.scutgame.com/GetGameName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerName">
      <soap:operation soapAction="http://dir.scutgame.com/GetServerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServerEnableDate">
      <soap:operation soapAction="http://dir.scutgame.com/SetServerEnableDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableServer">
      <soap:operation soapAction="http://dir.scutgame.com/EnableServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <soap:operation soapAction="http://dir.scutgame.com/ServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DirServiceSoap12" type="tns:DirServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOfficialGame">
      <soap12:operation soapAction="http://dir.scutgame.com/GetOfficialGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameObj">
      <soap12:operation soapAction="http://dir.scutgame.com/GetGameObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap12:operation soapAction="http://dir.scutgame.com/GetGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameInfo">
      <soap12:operation soapAction="http://dir.scutgame.com/GetGameInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap12:operation soapAction="http://dir.scutgame.com/AddGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGameNew">
      <soap12:operation soapAction="http://dir.scutgame.com/AddGameNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddServer">
      <soap12:operation soapAction="http://dir.scutgame.com/AddServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServer">
      <soap12:operation soapAction="http://dir.scutgame.com/SetServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerObj">
      <soap12:operation soapAction="http://dir.scutgame.com/GetServerObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServers">
      <soap12:operation soapAction="http://dir.scutgame.com/GetServers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerList">
      <soap12:operation soapAction="http://dir.scutgame.com/GetServerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerSortList">
      <soap12:operation soapAction="http://dir.scutgame.com/GetServerSortList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveServer">
      <soap12:operation soapAction="http://dir.scutgame.com/RemoveServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGame">
      <soap12:operation soapAction="http://dir.scutgame.com/RemoveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetActiveNum">
      <soap12:operation soapAction="http://dir.scutgame.com/SetActiveNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadServer">
      <soap12:operation soapAction="http://dir.scutgame.com/ReloadServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameName">
      <soap12:operation soapAction="http://dir.scutgame.com/GetGameName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerName">
      <soap12:operation soapAction="http://dir.scutgame.com/GetServerName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServerEnableDate">
      <soap12:operation soapAction="http://dir.scutgame.com/SetServerEnableDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableServer">
      <soap12:operation soapAction="http://dir.scutgame.com/EnableServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <soap12:operation soapAction="http://dir.scutgame.com/ServerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirService">
    <wsdl:port name="DirServiceSoap" binding="tns:DirServiceSoap">
      <soap:address location="http://dir.scutgame.com/DirService.asmx" />
    </wsdl:port>
    <wsdl:port name="DirServiceSoap12" binding="tns:DirServiceSoap12">
      <soap12:address location="http://dir.scutgame.com/DirService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>